<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Register Now</h2>
            <div class="alert alert-success" *ngIf="isRegister">{{successMessage}}</div>
            <form>
                <div class="form-group">
                    <input class="form-control" type="text" name="fullname" placeholder="enter your full name" [(ngModel)]="fullname">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="enter your email" [(ngModel)]="email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="enter your password" [(ngModel)]="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" (click)="onCreateUser()">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
